# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages
r_packages:
    - curl
    - dataone
addons:
  apt:
    packages:
      - librdf0-dev
script:
    - Rscript -e 'curl::curl_version()'


